.cancel-btn {
    position: absolute;
    background-color: var(--turquoise);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    top: 1.5rem;
    cursor: pointer;
}

.xmark-icon {
    color: var(--white);
    font-size: 30px;
}