.ticketlist {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.empty-order__text {
    font-family: var(--secondary-font);
    color: var(--white);
    text-align: center;
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}