@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

:root {
  --dark-purple: #231F42;
  --white: #FFFFFF;
  --turquoise: #37AEAB;
  --pink: #F56B9A;
  --primary-font: "Sansita One";
  --secondary-font: "Fira Sans";
  --light-purple: #a8a3d1;
  --medium-purple: #393555;
  --grey: #D0D0D0;
}

body {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--dark-purple);
}

@font-face {
  font-family: "Sansita One";
  src: url("./assets/SansitaOne.ttf") format("truetype");
}