.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-img {
    width: 100%;
    max-width: 260px;
    height: auto;
    margin-bottom: 2rem;
}

.logo-title {
    color: var(--pink);
    font-family: var(--primary-font);
    font-size: 2.1rem;
    margin-bottom: 0.8rem;
}

.logo-subtitle {
    color: var(--white);
    font-family: var(--seconday-font);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}